body {
  font-family: "Syne Mono", monospace;
  background-color: #fffff0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

input {
  width: 80%;
  padding: 10px 20px;
}

textarea {
  width: 80%;
  padding: 10px 20px;
}

footer {
  background-color: darkred;
  padding: 30px;
  text-align: center;
}

.nav-bar {
  background-color: #ffe4b5;
  display: flex;
  flex-direction: column;
  align-content: center;
  top: 0;
  width: 100%;
  align-items: center;
  overflow: hidden; 
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.element-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.single-element {
  width: 15rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 3px solid #d3d3d3;
  border-radius: 25px;
  align-items: center;
}

.big-single-container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: flex-start;
}

.big-single {
  width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: 	#FFEFD5;
  border: 3px solid #D3D3D3; 
  border-radius: 25px; 
}

.product-image {
  width: 75%;
  margin: auto auto 2rem auto;
  height: auto;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 25px;
}

.add-to-cart {
  background-color: #6495ed; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Slabo 27px", serif;
  font-size: 14px;
  border-radius: 15px;
}

.add-to-cart:hover {
  background-color: darkblue;
  transition: 0.7s;
}

.add-to-cart:active {
  background-color: darkblue;
}

.remove {
  background-color: orangered;
  border: none;
  color: white;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Slabo 27px", serif;
  font-size: 14px;
  border-radius: 15px;
}

h3,
h2 {
  text-align: center;
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  height: 60%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

/* TICKER */
* {
  box-sizing: border-box;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: static;
  width: 100%;
  overflow: hidden;
  height: 2.5rem;
  background-color: darkred;
  padding-left: 100%;
  box-sizing: content-box;
}

.ticker {
  display: inline-block;
  height: 2.5rem;
  line-height: 2.5rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.ticker__item {
  display: inline-block;
  font-family: 'Nabla', cursive;
  padding: 0 1rem;
  font-size: 1.5rem;
}
