body {
  font-family: 'Slabo 27px', serif; 
  background-color: #FFFFF0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.element-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.single-element {
  width: 15rem;
  margin: 0.5rem;
  padding: 0.5rem; 
  border: 3px solid #D3D3D3; 
  border-radius: 25px;
}

.big-single-container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: flex-start;
}

.big-single {
  width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: 	#FFEFD5;
  border: 3px solid #D3D3D3; 
  border-radius: 25px; 
}

.product-image {
  width: 60%;
  margin: auto auto 2rem auto;
  height: auto; 
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 25px;
}

.add-to-cart {
  background-color: lightblue; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Slabo 27px', serif; 
  font-size: 14px;
  border-radius: 15px;
}

